{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}
{% block body %}
    <p>détail d'une sortie</p>
   <p>Id: {{ sortie.id }}</p>
    <p>nb de participants: {{ nbParticipants }}</p>
    {# TODO desinscription et témoins #}
    <a href="{{ path('app_inscription',{'id': sortie.id}) }}">S'inscrire</a>

{% endblock %}