{% extends 'base.html.twig' %}

{% block title %}Création d'une sortie{% endblock %}
{% block body %}
    <div id="div1">
        {% form_theme createForm 'bootstrap_5_layout.html.twig' %}
        <div class="d-flex justify-content-center">

            {{ form(createForm) }}

        </div>
    </div>
{% endblock %}