{% extends 'base.html.twig' %}

{% block title %}Liste sortie{% endblock %}
{% block body %}
<body>
<table>
    <thead>
    <tr>
        <th>Nom:</th>
        <th>Date et heure début:</th>
        <th>Durée:</th>
        <th>Date limite d'inscription:</th>
        <th>Nombre d'inscriptions max:</th>
        <th>Info sortie:</th>
        <th>État:</th>
        <th>Lieu:</th>
        <th>Site:</th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.infosSortie }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>


{% endblock body %}