{% extends 'base.html.twig' %}

{% block title %}Liste sortie{% endblock %}
{% block body %}
<body>
<table>
    <thead>
    <tr>
        <th>Nom:</th>
       <th>Infos</th>
        <th>Détail</th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
        <tr>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.infosSortie }}</td>
            <td><a href="{{ path('app_detail',{'id': sortie.id}) }}">Détail/Inscription</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
</body>


{% endblock body %}