@media screen and (max-width: 768px) {
    #div1 {
        margin: auto;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        text-decoration: none;
        color : black;
    }
    #img {
        max-width: 80vw;
        width: 150px;
        height: 100px;
        border-radius: 10%;
    }
    #antilien {
        text-decoration: none;
        color : black;
    }
    #button {
        padding: 7px 15px;
        background: lightgrey;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }
    #button1 {
        padding: 7px 15px;
        background: #007afd;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    #div1 {
        margin: auto;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        text-decoration: none;
        color : black;
    }
    #img {
        max-width: 80vw;
        width: 150px;
        height: 100px;
        border-radius: 10%;
    }
    #antilien {
        text-decoration: none;
        color : black;
    }
    #button {
        padding: 7px 15px;
        background: lightgrey;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }
    #button1 {
        padding: 7px 15px;
        background: #007afd;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
    #div1 {
        margin: auto;
        text-align: center;
        width: 100%;
        font-size: 1.5em;
        text-decoration: none;
        color : black;
    }
    #img {
        max-width: 80vw;
        width: 300px;
        height: 200px;
        border-radius: 10%;
    }
    #antilien {
        text-decoration: none;
        color : black;
    }
    #button {
        padding: 7px 15px;
        background: lightgrey;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }
    #button1 {
        padding: 7px 15px;
        background: #007afd;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 1200px) {
    nav
    {
        margin-bottom: 20px;
    }
    #div1 {
        margin-top: 15px;
        margin: auto;
        text-align: center;
        text-decoration: none;
        color : black;
    }
    #img {
        max-width: 80vw;
        width: 300px;
        height: 200px;
        border-radius: 10%;
    }
    #antilien {
        text-decoration: none;
        color : black;
    }
    #button {
        padding: 7px 15px;
        background: lightgrey;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
    }
    #button1 {
        padding: 7px 15px;
        background: #007afd;
        border: none;
        border-radius: 5px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    #br {
        margin-top: 10px;
    }
    #tr {
        margin-right: 10px;
    }
}

