
<div id="div1">
    {% form_theme form 'bootstrap_5_layout.html.twig' %}
    <div class="d-flex justify-content-center">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
        <br>
        {{ form_end(form) }}
    </div>
</div>
